.header{
    margin-bottom: 50px;
    background: #1d1d1d;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    padding:0 70px;
}
.wrap{

    background: #1d1d1d;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
margin: auto;
}

.logo{
    letter-spacing: .3rem;
    font-weight: 900;
    font-size: 2.5rem;
    margin-right: auto;
}
.scoreText {
    font-size: 1.5rem;
    color:#cecece;
    padding-right:10px;
    margin-left:50px;
}
.scoreWrap{
    display: flex;
    align-items: center;
}

@media (max-width: 568px) {
    .header{
        padding: 0 20px;
        flex-direction: column;
        align-items: center;
        height:auto;
        max-height: 170px;
    }
    .wrap{
        flex-direction: column;
        margin:20px 0;
        align-items: center;
        justify-content: center;
    }
    .scoreText{
        margin-right: 10px;
        margin-left:0;
        padding:0;
    }
    .scoreWrap{
        margin-top: 12px;
    }
}
